:root {
  --text-primary: #FFFF;
  --text-secondary: #B3B3B3;
  --bg-primary: #2C2C2C;
  --linear-gradient: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-primary);
}