.social {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    height: 50px;
    width: 50px;
    border: 1px solid #ffff;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    transition: 0.35s;
  }
}

.social:hover > :not(:hover) {
  opacity: 0.4;
}

.social :hover {
  transform: scale(1.02);
}
